<!--
    API Monitor Definitions
    (c) 2010-2011, Rohitab Batra <rohitab@rohitab.com>
    http://www.rohitab.com/apimonitor/
-->
<ApiMonitor>
    <Include Filename="Interfaces\IUnknown.xml" />
    <Interface Name="IFilterMapper" Id="{56a868a3-0ad4-11ce-b03a-0020af0ba770}" BaseInterface="IUnknown" OnlineHelp="MSDN" ErrorFunc="HRESULT" Category="Audio and Video/DirectShow">
        <!-- Variables -->
        <!-- Methods -->
        <Api Name="RegisterFilter">
            <Param Type="CLSID" Name="clsid" />
            <Param Type="LPCWSTR" Name="Name" />
            <Param Type="[FILTER_MERIT]" Name="dwMerit" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="RegisterFilterInstance">
            <Param Type="CLSID" Name="clsid" />
            <Param Type="LPCWSTR" Name="Name" />
            <Param Type="CLSID*" Name="MRId" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="RegisterPin">
            <Param Type="CLSID" Name="Filter" />
            <Param Type="LPCWSTR" Name="Name" />
            <Param Type="BOOL" Name="bRendered" />
            <Param Type="BOOL" Name="bOutput" />
            <Param Type="BOOL" Name="bZero" />
            <Param Type="BOOL" Name="bMany" />
            <Param Type="CLSID" Name="ConnectsToFilter" />
            <Param Type="LPCWSTR" Name="ConnectsToPin" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="RegisterPinType">
            <Param Type="CLSID" Name="clsFilter" />
            <Param Type="LPCWSTR" Name="strName" />
            <Param Type="CLSID" Name="clsMajorType" />
            <Param Type="CLSID" Name="clsSubType" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="UnregisterFilter">
            <Param Type="CLSID" Name="Filter" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="UnregisterFilterInstance">
            <Param Type="CLSID" Name="MRId" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="UnregisterPin">
            <Param Type="CLSID" Name="Filter" />
            <Param Type="LPCWSTR" Name="Name" />
            <Return Type="HRESULT" />
        </Api>
        <Api Name="EnumMatchingFilters">
            <Param Type="IEnumRegFilters**" Name="ppEnum" />
            <Param Type="[FILTER_MERIT]" Name="dwMerit" />
            <Param Type="BOOL" Name="bInputNeeded" />
            <Param Type="CLSID" Name="clsInMaj" />
            <Param Type="CLSID" Name="clsInSub" />
            <Param Type="BOOL" Name="bRender" />
            <Param Type="BOOL" Name="bOututNeeded" />
            <Param Type="CLSID" Name="clsOutMaj" />
            <Param Type="CLSID" Name="clsOutSub" />
            <Return Type="HRESULT" />
        </Api>
    </Interface>
</ApiMonitor>